#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.custom-control {
    background-color: #FFF;
    border: 2px solid #FFF;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    color: rgb(25,25,25);
    cursor: pointer;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    
    line-height: 38px;
    text-align: center;
    
    margin: 8px 0 22px;
    padding: 0 5px;
}
